# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Poetry
poetry.toml

# Environment variables
.env
.env.*

# Test / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking & Linting
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Logs
*.log

# SQLite
*.sqlite3
car.db